target
.idea/
.vscode/
docs/build/
.idea_modules
.classpath
.project
.settings
*.iml
musasabi.ipr
musasabi.iws
*.sc
target/
logs/
.history
*/.toDelete
.toDelete
nb-configuration.xml
dependency-reduced-pom.xml
RIAF_LOG_DIR_IS_UNDEFINED
*.bat

log.file_IS_UNDEFINED
.DS_Store

tools/**/*.jar
tools/**/maven-metadata.xml

resources/configs/Credentials.properties

*.tgz
*.gz